<launch>
  <node pkg="sound_play" name="soundplay" type="soundplay_node.py" output="screen">
  </node>
  <node pkg="destination" name="user_input" type="user_input.py" output="screen">
  </node>
  <node pkg="destination" name="object_tf_broadcaster" type="object_tf_broadcast_test.py" output="screen">
  </node>
  <node pkg="destination" name="stop" type="stop.py" output="screen">
  </node>
  <node pkg="destination" name="Main_Control" type="Stage_1_Test.py" output="screen">
  </node>
</launch>
